.App {
    width: 100%;
    max-height: 100dvh;
    min-height: 100dvh;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;

    @media(max-width: 900px) {
        flex-wrap: wrap;
        align-items: end;
        align-content: end;
    }

    &_noise {
        width: 100%;
        z-index: 999999;
        align-items: start;

        video {
            opacity: .2;
            pointer-events: none;
            width: 100vw;
            height: 100vh;
            object-fit: cover;
        }
    }

    &_terminalAndDeco {
        position: relative;
        z-index: 99;
        width: 100%;
        left: 20vh;

        input {
            pointer-events: none;
            opacity: 0;
        }

        @media(max-width: 900px) {
            width: 100%;
            order: 2;
        }

        @media(max-width: 900px) {
            left: 0px;
        }
    }

    &_terminal {
        height: 90vh;
        width: calc(100vw - 800px);
        min-width: 300px;
        max-width: 550px;
        border-radius: 24px;
        padding: 48px;
        background: #000;
        display: flex;
        flex-wrap: wrap;
        align-items: end;
        align-content: end;
        row-gap: 24px;
        overflow: hidden;

        @media(max-width: 1400px) {
            padding: 32px;
            row-gap: 18px;
            width: calc(100vw - 500px);
        }

        @media(max-width: 900px) {
            height: 50dvh;
            width: 100%;
            max-width: 99999px;
            border-radius: 0px;
        }

        @media(max-width: 500px) {
            row-gap: 12px;
            padding: 24px;
        }

        &_element {
            width: 100%;
            display: flex;
            align-items: start;
            column-gap: 16px;

            @media(max-width: 1400px) {
                column-gap: 12px;
            }

            @media(max-width: 500px) {
                column-gap: 8px;
            }

            &_from {
                min-width: 68px;

                @media(max-width: 1400px) {
                    min-width: 48px;
                }
            }

            &_from,
            &_text {
                font-size: 24px;
                color: #63E940;

                // @media(max-width: 1400px) {
                //     font-size: 24px;
                // }
            }

            &_text {
                &_link {
                    cursor: pointer;
                    text-decoration: underline;
                }
            }

            &_text_caret {
                min-width: 20px;
                min-height: 30px;
                background: #63E940;
                display: inline-block;
                animation: blink 1s steps(1, start) infinite;

                @keyframes blink {

                    0%,
                    49% {
                        opacity: 1;
                    }

                    50%,
                    100% {
                        opacity: 0;
                    }
                }


                &_wrapper {
                    display: inline-flex !important;
                    top: 2px;
                    justify-content: left !important;
                    left: 0px;
                }
            }
        }
    }

    &_decor {
        // height: 100vh;
        display: flex;
        width: 100% !important;
        justify-content: right;

        .free_img {
            justify-content: right;
            align-items: end;
            transition: opacity 100ms;

            img {
                @media(max-width: 1400px) {
                    width: 500px;
                }

                @media(max-width: 900px) {
                    max-width: 100vw;
                    max-height: 50dvh;
                }
            }
        }

        &_light {
            img {
                filter: drop-shadow(20px 0px 13px #0008);
            }
        }
    }

    &_bgs {
        width: 100%;

        @media(max-width: 900px) {
            order: 3;
        }
    }

    &_bg,
    &_bgLight {
        width: 100%;
        justify-content: center;
        align-items: start;
        transition: opacity 100ms;

        @media(max-width: 900px) {
            align-items: end;
        }

        &_inner {
            min-width: 100vw;
            min-height: 100vh;
            background: linear-gradient(80deg, #464646, #595959);
        }
    }

    &_bgLight {
        &_inner {
            background: linear-gradient(80deg, #434E41, #536151);
        }
    }
}